{% extends 'base.html.twig' %}

{% block title %}New Salle{% endblock %}

{% block body %}
    <h1>Créer nouveau Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">Retour à la liste</a>
{% endblock %}
