{% extends 'base.html.twig' %}

{% block title %}Modifier Organisme{% endblock %}

{% block body %}
    <h1>Modifier Organisme</h1>

    {{ include('organisme/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_organisme_index') }}">Retour à la liste</a>

    {{ include('organisme/_delete_form.html.twig') }}
{% endblock %}
